.hero-section{
    background-image:linear-gradient(
      rgb(28 33 59 / 50%),    /* lớp tối */
      rgba(0, 0, 0, 0.5)
    ), url("https://image.tmdb.org/t/p/original/ulEVubPGxPXik31qcmBTt4oupgM.jpg");
    width: 100%;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__contents{
      color: white;
      display: flex;
      flex-direction: column;
      h1{
        font-size: 90px;
        text-align: center;
      }
      span{
        font-size: 24px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 30px;
      }
      .search{
        display: flex;
        align-items: center;
        input{
          flex-grow: 1;
          padding: 20px;
          font-size: 20px;
          outline: none;
          border: none;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
        }
        button{
          border: none;
          padding: 20px;
          width: 150px;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
          font-size: 20px;
          background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
          color: #ffff;
          cursor: pointer;
        }
      }

    }
    .overlay{
        width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
    }
}