.movie-card{
    text-decoration: none;
    img{
        width: 100%;
        height: 85%;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
    h3{
        margin: 8px 0px;
        color: #ffff;
        font-size: 20px;
        font-weight: 500;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        font-size: 14px;
        color: #ffff;
        opacity: 0.5;
    }
}