.container_wrapper {
  background-color: rgba(4, 21, 45, 0.9);
  .container {
    height: 100vh;
    padding-top: 100px;
    position: relative;
    width: 100%;
    .background {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
      img {
        width: 100%;
        object-fit: cover;
        height: 100vh;
      }
    }
    .contents {
      z-index: 999;
      display: flex;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      &__left {
        flex: 3.2;
        img {
          width: 100%;
          border-radius: 8px;
        }
      }
      &__right {
        flex: 6.8;
        padding-left: 50px;
        color: #fff;
        h1{
        font-size: 34px;
        font-weight: 500;
        }
        .tagline{
            margin-top: 3px;
            margin-bottom: 20px;
            font-size: 20px;
            font-style: italic;
            opacity: 0.7;
        }
        .row{
          margin: 25px 0;
          display: flex;
          gap: 20px;
          .circularRating{
            width: 85px;
            .CircularProgressbar-text{
              font-size: 34px;
              font-weight: 600;
            }
            .CircularProgressbar-trail{
              stroke:#041226;
            }
          }
          .playbtn{
            display: flex;
            gap: 12px;
            margin-top: -5px;
            justify-content: center;
            align-items: center;
            .icon{
              font-size: 80px;
              opacity: 0.9;
            }
            span{
              align-self: center;
              font-size: 24px;
            }
          }
          .playbtn:hover{
            cursor: pointer;
             color: #da2f68;
            transition: all 0.3s;
          }
          
        }
        .overview{
            h1{
              font-size: 24px;
              margin: 10px 0;
            }
            .description{
              padding-right: 100px;
             line-height: 24px;
            }
          }
        .description{
          margin-top: 20px;
          &__status{
            display: flex;
            gap: 20px;
            padding: 20px 0;
            border-bottom: rgba(255, 255, 255, .1) 1px solid;
            h4{
              font-weight: 500;
              color: #fff;
            }
            
          }
        }
      }
    }
  }
  .overlay {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
